<h1>Add a new word</h1>

<form action="/new_word" method="post">
  <input name="word_text" class="form-control" type="text" placeholder="Enter your word">
  <button type="submit" class="btn">ADD WORD</button>
</form>

<p><a href="/words">Return to word list</a></p>
