<h1>Add a new word</h1>

<form action="/new_word" method="post">
  <div class="form-group">
    <label for="word_text">Word</label>
    <input name="word_text" class="form-control" type="text" placeholder="Enter your word">
  </div>
  <button type="submit" class="btn">ADD WORD</button>
</form>

<p><a href="/words">Return to word list</a></p>
