<p><em>Click on a word see its definitions.</em></p>

<% if @words.any? %>
  <ul class="word-list">
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>/definitions"><%= word.text %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<p class="add"><a href="/words/new"><img src="/images/plus.png" alt="plus image">Add a new word</a></p>
